In [2]:
import pandas as pd
medals = pd.read_csv("/content/drive/MyDrive/DATA/olympic_medals.csv")
medals.head() #displays first five rows

,Gender,Event,Location,Year,Medal,Name,Nationality,Result
0,M,10000M Men,Rio,2016,G,Mohamed FARAH,GBR,25:05.17
1,M,10000M Men,Rio,2016,S,Paul Kipngetich TANUI,KEN,27:05.64
2,M,10000M Men,Rio,2016,B,Tamirat TOLA,ETH,27:06.26
3,M,10000M Men,Beijing,2008,G,Kenenisa BEKELE,ETH,27:01.17
4,M,10000M Men,Beijing,2008,S,Sileshi SIHINE,ETH,27:02.77

In [3]:
#2a
medals.shape
#there are 2934 rows and 8 columns.

(2394, 8)

In [4]:
#2b
medals.dtypes

Gender         object
Event          object
Location       object
Year            int64
Medal          object
Name           object
Nationality    object
Result         object
dtype: object

In [5]:
#2c
len(medals["Location"].unique())
#23 unique cities

23

In [6]:
#2d
medals.groupby(by='Nationality')['Medal'].count()
#USA Team won 638 Medals

Nationality
ALG      9
ARG      4
AUS     57
AUT      4
BAH     12
      ...
URS    131
USA    638
VEN      2
YUG      1
ZAM      1
Name: Medal, Length: 97, dtype: int64

In [7]:
#2e
medals.groupby(by='Location')['Medal'].count()

Location
Amsterdam                 57
Antwerp                   42
Athens                   173
Atlanta                  130
Barcelona                125
Beijing                  128
Berlin                    66
Helsinki                  93
London                   253
Los Angeles              181
Melbourne / Stockholm     58
Mexico                    75
Montreal                  96
Moscow                   111
Munich                    81
Paris                    111
Rio                      141
Rome                      99
Seoul                     18
St Louis                  51
Stockholm                 63
Sydney                   140
Tokyo                    102
Name: Medal, dtype: int64